/* commonBase */

/* colorScene */
$color_base_black_1 = var(--color_base_black_1)

/* colorSceneLight */
$color_base_black_1_light = #ff0000


/* colorSceneDark */
$color_base_black_1_dark = #00ff00
